<div id="leaderboard-page">
    <div class="title-container">
        <h1 id="leaderboard-title">Leaderboard</h1>
    </div>
    <div class="top-3">
        <div id="second" class="podium">
            <div class="avatar">
                <img src="../images/avatar.png" alt="Second Place">
                <span class="rank">2</span>
            </div>
            <p class="username">USERNAME</p>
            <p class="score blue">XXX</p>
        </div>
    
        <div id="first" class="podium">
            <div class="avatar">
                <img src="../images/avatar.png" alt="First Place">
                <span class="rank">1</span>
            </div>
            <p class="username">USERNAME</p>
            <p class="score red">XXX</p>
        </div>
    
        <div id="third" class="podium">
            <div class="avatar">
                <img src="../images/avatar.png" alt="Third Place">
                <span class="rank">3</span>
            </div>
            <p class="username">USERNAME</p>
            <p class="score green">XXX</p>
        </div>
    </div>    
    <div class="board">
        <table class="table custom-table">
            <thead >
                <tr>
                    <th id="rank">Rank</th>
                    <th>Players</th>
                    <th id="rate-col">Winning Rate</th>
                    <th id="win-col">Win</th>
                    <th id="lose-col">Lose</th>
                    <th id="score-col">Score</th>
                </tr>
            </thead>
        </table>
    </div>
</div>